<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{myHome24}">МойДом24</title>
    <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
    <link rel="stylesheet" th:href="@{/dist/css/website.css}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
    <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/daterangepicker/daterangepicker.css}">
    <link rel="stylesheet" th:href="@{/plugins/icheck-bootstrap/icheck-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/bs-stepper/css/bs-stepper.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">

    <link rel="stylesheet" th:href="@{/plugins/select2/css/select2.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css}">

<!--    EXCEL JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.3.0/exceljs.min.js" integrity="sha512-UnrKxsCMN9hFk7M56t4I4ckB4N/2HHi0w/7+B/1JsXIX3DmyBcsGpT3/BsuZMZf+6mAr0vP81syWtfynHJ69JA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
/*<!--        .select2-container .select2-selection&#45;&#45;single {-->*/
/*<!--            height: 38px;-->*/
/*<!--        }-->*/
    .select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: -8px;
    }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js" integrity="sha512-1QvjE7BtotQjkq8PxLeF6P46gEpBRXuskzIVgjFpekzFVF4yjRgrQvTG1MTOJ3yQgvTteKAcO7DSZI92+u/yZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

    <noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
        enabled. Please enable
        Javascript and reload this page!</h2></noscript>

    <div th:insert="~{main-template :: loading}"></div>
    <nav th:insert="~{main-template :: header}"></nav>
    <aside th:insert="~{main-template :: sidebar}"></aside>

    <!--content-header -->
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0" th:text="#{cashBox}">Касса</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i>  <span th:text="#{homePage}"></span></a></li>
                            <li class="breadcrumb-item active" th:text="#{cashBox}">Касса</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="page_content" style="padding: 15px;">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-green overflow-hidden">
                                <div class="inner">
                                    <h3 id="cashboxBalance" th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',cashBoxSum) + ' грн'}"></h3>
                                    <p th:text="#{cashBoxBalanceL}">Состояние кассы</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <!--<span class="small-box-footer">&nbsp;</span>-->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-blue overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountBalance" th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',accountBalance) + ' грн'}"></h3>
                                    <p th:text="#{balanceOnAccountL}">Баланс по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <!--<span class="small-box-footer">&nbsp;</span>-->
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4">
                            <div class="small-box bg-red overflow-hidden">
                                <div class="inner">
                                    <h3 id="accountDebts" th:text="${T(java.lang.String).format(T(java.util.Locale).ROOT, '%.2f',sumDebt) + ' грн'}"></h3>
                                    <p th:text="#{debtOnAccountsL}">Задолженность по счетам</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-dollar"></i>
                                </div>
                                <!--<span class="small-box-footer">&nbsp;</span>-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="btn-group pull-right margin-bottom">
                        <button type="button" class="btn btn-success dropdown-toggle" style="width: 230px;"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" th:text="#{cashBoxAction}">
                            Выберите действие <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" style="width:230px;">
                            <li><a th:href="@{/admin/cashbox/newIncome}"
                                   style="padding-inline:15px;display: block; text-decoration: none;" th:text="#{createIncome}">Создать
                                приход</a>
                            </li>
                            <li><a th:href="@{/admin/cashbox/newExpense}"
                                   style="padding-inline:15px;display: block; text-decoration: none;" th:text="#{createExpense}">Создать
                                расход</a></li>
                            <li onclick="downloadExcelTable()"
                                style="display: block; text-decoration: none;"><a th:text="#{uploadToExele}">Выгрузить в Excel</a>
                            </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card card card-primary card-outline" style=" border-top-color: #bbbbbb;">
                <div class="card-header" style="background-color: transparent;">
                    <div class="form-group">
                        <a href="#" onclick="reset()" class="btn btn-default btn-sm float-right">
                            <h7 th:text="#{clear}"></h7> <i class="fa fa-eraser visible-xs"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body " style="padding: 0;">
                    <div  th:object="${filterForm}"
                          enctype="multipart/form-data">
                        <table id="cashboxTable" class="table table-bordered table-hover table-striped linkedRow"
                               width="100%">
                            <col style="width:9%">
                            <col style="width:30%">
                            <col style="width:10%">
                            <col style="width:10%">
                            <col style="width:22%">
                            <col style="width:10%">
                            <col style="width:4%">
                            <col style="width:4%">
                            <col style="width:6%">
                            <thead>
                            <tr>
                                <th>№</th>
                                <th style="min-width:220px" th:text="#{date}">Дата</th>
                                <th style="min-width:160px" th:text="#{status}">Статус</th>
                                <th style="min-width:160px" th:text="#{paymentType}">Тип платежа</th>
                                <th th:text="#{owner}">Владелец</th>
                                <th th:text="#{apartmentAccount}">Лицевой счет</th>
                                <th style="min-width:150px" th:text="#{incomeAndExpense}">Приход/расход</th>
                                <th th:text="#{sum}">Сумма(грн)</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td style="padding: 10px">
                                    <input style="width: 100%; height: 45px; padding-block: 6px; border: 1px solid #aaa; margin-top: 3px;" autocomplete="off" th:field="*{id}" class="my_filters form-control" id="id" type="text">
                                </td>
                                <th style="border-bottom:none">
                                    <div class="form-group" style="margin: 0; margin-bottom: 11px">
                                        <div class="input-group" style="height: 45px">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" style="padding-right: 6px;padding-left: 6px;">
                                                <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                              </span>
                                            </div>
                                            <input type="text" style="height: 45px; padding-left: 1px; padding-right: 1px;" autocomplete="off" class="form-control float-right my_filters" id="date"
                                                   name="date">
                                        </div>
                                    </div>
                                </th>
                                <th style="border-bottom:none"><select autocomplete="off" th:field="*{isCompleted}" class="form-select my_filters" id="isCompleted" name="isCompleted">
                                    <option th:selected="${filterForm.isCompleted == null}" value="-"></option>
                                    <option value="сompleted"
                                            th:selected="${#strings.containsIgnoreCase(('сompleted'),((filterForm.isCompleted != null) ? (filterForm.isCompleted ): ('emp') ))}"
                                            th:text="#{complete}" >Проведен
                                    </option>
                                    <option value="notComplete"
                                            th:selected="${#strings.containsIgnoreCase(('notComplete'),((filterForm.isCompleted != null) ? (filterForm.isCompleted ): ('emp') ))}"
                                            th:text="#{notComplete}" >Не проведен
                                    </option>
                                </select></th>

                                <th style="border-bottom:none"><select autocomplete="off" class="form-select my_filters" id="incomeExpenseItem" name="incomeExpenseItem">
                                    <option value=""></option>
                                    <option th:each="incomeExpenseItem : ${incomeExpenseItems}"
                                            th:text="${incomeExpenseItem.name}"
                                            th:value="${incomeExpenseItem.name}"
                                            th:selected="${#strings.containsIgnoreCase((incomeExpenseItem.name),((filterForm.incomeExpenseItem != null) ? (filterForm.incomeExpenseItem ): ('empty') ))}"></option>
                                </select></th>

                                <th style="border-bottom:none">
                                    <select autocomplete="off" id="owner" class="my_filters" name="owner">
                                        <option th:if="${filterForm.owner == null}" value="" selected="selected" th:text="#{choise}">Выберите пользователя</option>
                                        <option th:if="${filterForm.owner != null}" th:value="${filterForm.ownerEntity.id}" th:text="${filterForm.ownerEntity.getFullName()}"></option>
                                    </select>
                                </th>
                                <td style="padding: 10px">
                                    <input style="width: 100%; height: 45px; padding-block: 6px; border: 1px solid #aaa; margin-top: 3px;" autocomplete="off" th:field="*{accountId}" class="my_filters form-control" id="accountId" data-name="id" type="text">
                                </td>

                                <th style="border-bottom:none"><select autocomplete="off" class="form-select my_filters" id="incomeExpenseType" name="incomeExpenseType">
                                    <option value=""></option>
                                    <option value="income"
                                            th:selected="${#strings.containsIgnoreCase(('income'),((filterForm.incomeExpenseType != null) ? (filterForm.incomeExpenseType ): ('emp') ))}"
                                            th:text="#{income}" >Приход
                                    </option>
                                    <option value="expense"
                                            th:selected="${#strings.containsIgnoreCase(('expense'),((filterForm.incomeExpenseType != null) ? (filterForm.incomeExpenseType ): ('emp') ))}"
                                            th:text="#{expense}" >Расход
                                    </option>
                                </select></th>
                                <th style="border-bottom:none"></th>
                                <th style="border-bottom:none"></th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                        <nav aria-label="Page navigation " class="pagination_container"></nav>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </section>
    </div>
    <!-- Main Footer -->
    <footer th:insert="~{main-template :: footer}"></footer>
</div>

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js}"></script>
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/inputmask/jquery.inputmask.min.js}"></script>
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<script th:src="@{/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
<script th:src="@{/plugins/bootstrap-switch/js/bootstrap-switch.min.js}"></script>
<script th:src="@{/plugins/bs-stepper/js/bs-stepper.min.js}"></script>
<script th:src="@{/dist/js/adminlte.min.js}"></script>
<script th:src="@{https://kit.fontawesome.com/41663a8b50.js}" crossorigin="anonymous"></script>
<script src="../../plugins/select2/js/select2.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.full.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:src="@{/dist/js/pagination.js}"></script>

<script th:src="@{/dist/js/websocket.js}"></script>

<script th:inline="javascript">

    let globalTableName = 'transactions';
    let totalPagesCount = [[${totalPagesCount}]];
    let placeholderText = [[#{select.placeholder}]];
    let notFoundText = [[#{not-found}]];
    let tableData;

    let currentLanguage = [[${#locale.language}]];

    $(document).ready(function(){

        drawTable();

    });

    let idInput = document.getElementById('id');
      let maskOptions = {
          mask: '0000000000'
      }
      let mask1 = IMask(idInput, maskOptions);

      let apInput = document.getElementById('accountId');
      let maskOptions3 = {
          mask: '0000000000'
      }
      let mask3 = IMask(apInput, maskOptions3);

</script>

<script>

    $(function () {
        var userLocale = navigator.language;
        var start = moment().subtract(3, 'year');
        var end = moment();
        //Datemask dd/mm/yyyy
        $('#datemask').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Datemask2 mm/dd/yyyy
        $('#datemask2').inputmask('dd/mm/yyyy', {'placeholder': 'dd/mm/yyyy'})
        //Money Euro
        $('[data-mask]').inputmask()

        if ([[${#locale.language == 'ru'}]]) {
            console.log(userLocale)
            console.log('ru')
        $('input[name="date"]').daterangepicker({
            startDate: start,
            endDate: end,
            // singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'DD/MM/YYYY',
                "separator": " - ",
                "applyLabel": "Применить",
                "cancelLabel": "Отмена",
                "fromLabel": "С",
                "toLabel": "По",
                "customRangeLabel": "Произвольный",
                "weekLabel": "Н",
                "daysOfWeek": ["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                "monthNames": [
                    "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                    "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"
                ],
                "firstDay": 1
            },
            drops: 'down'
        });
        } else if ([[${#locale.language == 'uk'}]]) {
            console.log(userLocale)
            console.log('ua')
            $('input[name="date"]').daterangepicker({
                startDate: start,
                endDate: end,
                // singleDatePicker: true,
                showDropdowns: true,
                locale: {
                    format: 'DD/MM/YYYY',
                    "separator": " - ",
                    "applyLabel": "Застосувати",
                    "cancelLabel": "Відміна",
                    "fromLabel": "З",
                    "toLabel": "По",
                    "customRangeLabel": "Довільний",
                    "weekLabel": "Н",
                    "daysOfWeek": ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                    "monthNames": [
                        "Січень", "Лютий", "Березень", "Квітень", "Травень", "Червень",
                        "Липень", "Серпень", "Вересень", "Жовтень", "Листопад", "Грудень"
                    ],
                    "firstDay": 1
                },
                drops: 'down'
            });
        }

        //Date picker
        $('#reservationdate').datetimepicker({
            format: 'L'
        });

        //Date and time picker
        $('#reservationdatetime').datetimepicker({icons: {time: 'far fa-clock'}});

        //Date range picker
        $('#reservation').daterangepicker()
        //Date range picker with time picker
        $('#reservationtime').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY hh:mm A'
            }
        })
    })
</script>
<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<script>

// EXCEL FORMAT SCRIPT

    function downloadExcelTable() {

        const workbook = new ExcelJS.Workbook();

        workbook.creator = 'Me';
        workbook.lastModifiedBy = 'Her';
        workbook.created = new Date(1985, 8, 30);
        workbook.modified = new Date();
        workbook.lastPrinted = new Date(2016, 9, 27);

        const worksheet = workbook.addWorksheet('My Sheet',{views: [{showGridLines: false}]});

        const date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        const rows = tableData.content.map(row => ({
          ID: row.id,
          Date: row.date[2] + '.' + row.date[1].toString().padStart(2,'0') + '.' + row.date[0],
          Completed: row.completed,
          Item: row.incomeExpenseItems,
          Owner: row.ownerFullName,
          AccountID: row.apartmentAccount,
          Type: row.incomeExpenseType,
          Amount: row.amount
        }));

        const headerRow = worksheet.getRow(1);
        let index = 1;
        for(const prop in rows[0]) {
            const cell = headerRow.getCell(index++);
            cell.value = prop;
            cell.font = {bold: true};
            cell.alignment = {vertical: 'middle', horizontal: 'center'};
            cell.border = {top: {style: 'thin'},left: {style: 'thin'},bottom: {style: 'thin'},right: {style: 'thin'}}
        }

        let rowIndex = 2;
        for(const row of rows) {
            const worksheetRow = worksheet.getRow(rowIndex++);
            let columnIndex = 1;
            for(const prop in row) {
                const cell = worksheetRow.getCell(columnIndex++);
                cell.value = row[prop];
                cell.alignment = {vertical: 'middle', horizontal: 'center'};
                cell.border = {top: {style: 'thin'},left: {style: 'thin'},bottom: {style: 'thin'},right: {style: 'thin'}}
            }
        }

        for(let i = 1; i < worksheet.actualColumnCount; i++) {
            const column = worksheet.getColumn(i);
            const columnValues = column.values;

            for(let j = 0; j < columnValues.length; j++) {
                columnValues[j] = (j in columnValues && columnValues[j] != null && columnValues[j] != undefined) ? columnValues[j].toString().length : 0;
            }

            let maxWidth = Math.max(...columnValues);
            column.width = maxWidth + 5;
        }

        workbook.xlsx.writeBuffer( {
            base64: true
        })
        .then( function (xls64) {
            // build anchor tag and attach file (works in chrome)
            var a = document.createElement("a");
            var data = new Blob([xls64], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" });

            var url = URL.createObjectURL(data);
            a.href = url;
            a.download = "Касса " + `${day}-${month}-${year}` + ".xlsx";
            document.body.appendChild(a);
            a.click();
            setTimeout(function() {
                    document.body.removeChild(a);
                    window.URL.revokeObjectURL(url);
                },
                0);
        })
        .catch(function(error) {
        });
    }
</script>
<script>
    $(document).ready(function () {
        $("input[name='datetimes']").daterangepicker(
            {},
            function (start, end, label) {
                let startDate = start.format("YYYY-MM-DD").toString();
                let endDate = end.format("YYYY-MM-DD").toString();

                document.getElementById("startDate").innerHTML =
                    "Start date: " + startDate;
                document.getElementById("endDate").innerHTML = "End date: " + endDate;

            }
        );
    });

</script>
<!--<script>-->
<!--    let timeoutId;-->

<!--    function handleFormSubmit() {-->
<!--        const form = document.getElementById('1');-->
<!--        form.submit();-->
<!--        console.log("Форма отправлена!");-->
<!--    }-->

<!--    function handleInputChange() {-->
<!--        clearTimeout(timeoutId);-->
<!--        timeoutId = setTimeout(handleFormSubmit, 3000);-->
<!--    }-->

<!--    // event listener on field-->
<!--    const input = document.querySelector('input[type="text"]');-->
<!--    input.addEventListener('input', handleInputChange);-->

<!--    // event on Enter-->
<!--    document.addEventListener('keydown', function (event) {-->
<!--        if (event.key === "Enter") {-->
<!--            handleFormSubmit();-->
<!--        }-->
<!--    });-->
<!--</script>-->
<script>
    $(document).ready(function() {

        $("#isCompleted, #incomeExpenseItem, #incomeExpenseType").select2(
        {language: currentLanguage, placeholder: placeholderText, minimumResultsForSearch: Infinity}
        );

        $('#owner').select2({
            language: currentLanguage,
            ajax: {
                url: '/myhome/admin/cashbox/getUsers',
                // dataType: 'json',
                delay: 250,
                data: function(params) {
                    return {
                        searchQuerie: params.term,
                        page: params.page || 0,
                        size: params.page ? 10 : 10
                    };
                },
                processResults: function(data, params) {
                    params.page = params.page || 0;
                    var results = $.map(data.content, function(owner) {
                        return {id: owner.id,
                            text: owner.first_name + ' ' + owner.last_name + ' ' + owner.fathers_name,
                           };
                    });
                    return {
                        results: results,
                        pagination: {
                            more: data.pageable.pageNumber + 1 < data.totalPages
                        }
                    };
                },
                cache: true
            },
            placeholder: '',
            minimumInputLength: 0,
            allowClear: true,
            templateSelection: function(selection) {
                    return selection.text;

            },

        });
    });
</script>

<style>
    * {
        font-family: 'Source Sans Pro'
    }
</style>
<style>
        a.selected {
            background-color: rgba(0, 179, 255, 0.4);
            color: white;
            cursor: initial;
            caret-color:transparent;
        }

        a.selected:hover {
            background-color: rgba(0, 179, 255, 0.4);
            color: white;
        }

        a.page-link {
            width: 42px;
            text-align: center;
        }
</style>
</body>
</html>
