<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title th:text="#{invoices.printPage.pageName}">МойДом24</title>
  <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">-->

  <!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">-->
</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" th:text="#{invoices.printPage.pageName}">Печатная форма документа</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a th:href="@{/admin}"><i class="fa fa-home"></i>  <span th:text="#{invoices.printPage.breadcrumbMenuMain}">Главная</span></a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/invoices}" th:text="#{invoices.printPage.breadcrumbMainTablePageName}">Квитанции</a></li>
              <li class="breadcrumb-item"><a th:href="@{/admin/invoices/{id}(id=${invoice.id})}"><span th:text="#{invoices.printPage.breadcrumbSingleInvoiceName}">Квитанция</span> №<span th:text="${T(java.lang.String).format('%010d', invoice.id)}"></span></a></li>
              <li class="breadcrumb-item active" th:text="#{invoices.printPage.pageName}">Печатная форма документа</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="container-fluid">
        <form action="" method="post">
          <input type="hidden" id="csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <div class="row">
          <div class="col-md-12">
            <div class="box" style="caret-color:transparent; padding:0; padding-inline: 10px;">
              <div class="box-header with-border" style="padding-top: 15px; padding-bottom: 15px;">
                <h3 class="box-title" style="margin: 0; padding: 0" th:text="#{invoices.printPage.card.header}">Список шаблонов</h3>
                <div class="box-tools">
                  <a th:href="@{/admin/invoices/template}" class="btn btn-default btn-sm">
                    <span class="hidden-xs" th:text="#{invoices.printPage.card.settings}"> Настройка шаблонов </span>
                  </a>
                </div>
              </div>
              <div class="box-body">
                <div class="row mt-2">
                  <div class="col-xs-12 col-lg-12">
                    <ul style="list-style-type: none; padding-left: 5px;">
                      <li th:if="${default_template != null}">
                        <input type="radio" name="template" th:value="${default_template.id}" checked>
                        <label class="pl-1" th:text="${default_template.name} + #{default}"></label>
                      </li>
                      <li th:each="template : ${templates}" th:if="${!template._default_}">
                        <input type="radio" name="template" th:value="${template.id}">
                        <label class="pl-1" style="font-weight: normal;" th:text="${template.name}"></label>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-12 text-right pull-right">
                    <div class="form-group">
                      <button type="submit" class="btn btn-success" th:text="#{invoices.printPage.card.download}">Скачать</button>
                      <button type="button" onclick="sendToEmail()" class="btn btn-default" th:text="#{invoices.printPage.card.email}">Отправить на e-mail</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->

<style>
label{
  font-size:20px;
  vertical-align: middle;
}

input[type="radio"]{
  width: 18px;
  height: 18px;
}
</style>

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>

<script th:inline="javascript">

  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");

  function sendToEmail() {

    let chosenTemplateValue = null;
    let templateList = document.getElementsByName('template');

    for(const template of templateList) {
      if(template.checked) chosenTemplateValue = template.value;
    }

    if(chosenTemplateValue != null) {
      $.ajax({
        type:"POST",
        url: "/myhome/admin/invoices/email/"+window.location.href.substring(window.location.href.lastIndexOf('/') + 1),
        data: {template: chosenTemplateValue},
        beforeSend: function(xhr) {
          xhr.setRequestHeader(header, token)
        },
        success: function(data) {
          alert('Invoice sent to email: ' + data);
        },
        error: function(error) {
          alert('Invoice not sent: ' + error);
        }
      });
    } else alert('Choose template!')

  }
</script>

</body>
</html>
