<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="#{settings.system.users.mainPage.pageName}">МойДом24</title>
  <link rel="icon" type="image/png" href="http://myhouse24.avada-media.ua/favicon.png">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700&display=fallback">
  <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
  <link rel="stylesheet" th:href="@{/plugins/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
  <link rel="stylesheet" th:href="@{/dist/css/website.css}">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

  <script src="https://unpkg.com/imask"></script>

</head>
<body class="hold-transition light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">

  <nav th:insert="~{main-template :: header}"></nav>
  <aside th:insert="~{main-template :: sidebar}"></aside>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" th:text="#{modal.admin.delete}">Удалить пользователя?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" th:text="#{modal.admin.confirm-delete}">
          Подтвердите удаление пользователя
        </div>
        <div class="modal-footer" style="justify-content: space-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{modal.cancel}">Отменить</button>
          <button type="button" class="btn btn-danger" onclick="confirmDelete()" th:text="#{modal.delete}">Удалить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0" th:text="#{settings.system.users.mainPage.pageName}">Пользователи</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>  <span th:text="#{settings.system.users.mainPage.breadcrumb.main}">Главная</span></a></li>
              <li class="breadcrumb-item active" th:text="#{settings.system.users.mainPage.pageName}">Пользователи</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="page_content">
      <div class="row mr-2" style="justify-content: flex-end">
        <div class="col-xs-12">
          <div class="pull-right margin-bottom">
            <a class="btn btn-success" th:href="@{/admin/admins/create}" th:text="#{settings.system.users.mainPage.add-user}">Создать пользователя</a>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="caret-color:transparent;">
        <div class="row">
          <div class="col-md-12">
            <div class="box" style="padding:0;">
              <div class="box-header with-border" style="padding-block: 10px;">
                <h3 class="box-title"></h3>
                <div class="box-tools" style="top: 5px;">
                  <button class="btn btn-default btn-sm" onclick="reset()">
                    <span class="hidden-xs" th:text="#{settings.system.users.mainPage.table.clear}">Очистить</span><i class="fa fa-eraser visible-xs" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
              <div class="box-body table-responsive">
                <div id="form" th:object="${filter_form}">
                  <table class="table table-bordered table-hover table-striped linkedRow" id="adminsTable">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th th:text="#{settings.system.users.mainPage.table.user}">Пользователь</th>
                        <th th:text="#{settings.system.users.mainPage.table.role}">Роль</th>
                        <th th:text="#{settings.system.users.mainPage.table.phone}">Телефон</th>
                        <th th:text="#{settings.system.users.mainPage.table.email}">Email (логин)</th>
                        <th th:text="#{settings.system.users.mainPage.table.status}">Статус</th>
                        <th style="width: 114px; min-width: 114px">&nbsp;</th>
                      </tr>
                      <tr>
                        <td></td>
                        <td style="padding: 10px">
                          <input style="width: 100%; padding-block: 10px;" th:field="*{name}" data-name="name" autocomplete="off" class="my_filters" type="text">
                        </td>
                        <td style="padding: 10px">
                          <select style="width: 100%; padding-block: 10px" th:field="*{role}" data-name="role" autocomplete="off" class="my_filters my_select">
                            <option value=""></option>
                            <option th:each="userRole : ${roles}"
                                    th:value="${userRole.id}"
                                    th:text="${#locale.language == 'ru' ? userRole.name_ru : userRole.name_uk}"></option>
                          </select>
                        </td>
                        <td style="padding: 10px">
                          <input style="width: 100%; padding-block: 10px;" th:field="*{phone}" data-name="phone" autocomplete="off" class="my_filters" type="text">
                        </td>
                        <td style="padding: 10px">
                          <input style="width: 100%; padding-block: 10px;" th:field="*{email}" data-name="email" autocomplete="off" class="my_filters" type="text">
                        </td>
                        <td style="padding: 10px">
                          <select style="width: 100%; padding-block: 10px" th:field="*{active}" data-name="active" autocomplete="off" class="my_filters my_select">
                            <option value=""></option>
                            <option value="true">Активен</option>
                            <option value="false">Неактивен</option>
                          </select>
                        </td>
                        <td></td>
                      </tr>
                    </thead>
                  <tbody>

                  </tbody>
                </table>
                  <div class="pagination_container"></div>
                </div>
              </div>
              <div class="box-footer clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <!-- Main Footer -->
  <footer th:insert="~{main-template :: footer}"></footer>
</div>
<!-- ./wrapper -->
<div th:insert="~{logout-modal :: logout}"></div>
<script th:inline="javascript">
      let currentLanguage = [[${#locale.language}]];
</script>

<script src="https://kit.fontawesome.com/41663a8b50.js" crossorigin="anonymous"></script>

<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/dist/js/adminlte.js}"></script>
<script th:src="@{/dist/js/pagination.js}"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/ru.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/i18n/uk.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<script th:inline="javascript">

    let globalTableName = 'admins';
    let totalPagesCount = 1;
    let tableData;
    let placeholderText = [[#{select.placeholder}]];
    let activeText = [[#{active}]];
    let inactiveText = [[#{inactive}]];
    let notFoundText = [[#{not-found}]];

    let deleteUrl;

    $(document).ready(function(){

        drawTable();

    });

    function deleteAdmin(button) {
      deleteUrl = button.dataset.url;
      console.log(deleteUrl);
<!--      document.getElementsByClassName('modal')[0].classList.add = 'show';-->
    }

    function confirmDelete() {
      window.location.href = deleteUrl;
    }

</script>

<script th:inline="javascript">

  let nameInput = document.getElementById('name');
    let maskOptions = {
        mask: /^\w{1,100}$/
    }
    let mask = IMask(nameInput, maskOptions);

   let phoneInput = document.getElementById('phone');
      let maskOptions4 = {
          mask: '0000000000'
      }
      let mask4 = IMask(phoneInput, maskOptions4);

      let emailInput = document.getElementById('email');
    let maskOptions2 = {
        mask: /^\w{1,100}$/
    }
    let mask2 = IMask(emailInput, maskOptions2);

  $(document).ready(function() {

    let user_rows = document.getElementsByClassName("user-row");

    for(let i = 0; i < user_rows.length; i++) {
      console.log(user_rows[i]);
      let row_children = user_rows[i].children;
      for(let j = 0; j < row_children.length-1; j++) {
        row_children[j].addEventListener('click', () => {
          window.location.href = '/myhome/admin/admins/' + document.getElementById("input-" + i).value;
        });
      }
    }

    $(".my_select").select2({
      language: currentLanguage,
      placeholder: placeholderText,
      width: 'resolve'
    });

  });

</script>


</body>
</html>
